.menu-spacer {
    flex: 1 1 auto;
  }

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIkjHG6nyQV1ic6D36cQYzIJ5BgBtR7MIAnQ&usqp=CAU");
  }
  
  